*{
    padding: 0;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: block;
}
html{
    height: 100%;
    width: 100%;
    margin: 0 0;
}


.app{
    height: min-content;
    width: 100%;
    margin: 0 auto;
}



.header{
    background: #FFB800;
    width: 100%;
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

.header-navbar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    background-image: none;
}

.navbar-dnt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dnt{
    margin-left: 60px;
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: solid 0 ;
    background-color: blueviolet;
    color: white;
}

.navbar-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}
.text-container{
    margin-left: 20px;
}

.slideshow{
    display: block;
    width: 100%;
    padding-top: 63px;
    z-index: 1;
    height: 600px;
}

.slide{
    z-index: 1;
}

.slideshow img{
    margin: 0 auto;
}
.caption{
    z-index: 1;
    margin-top: -200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.options-box{
    background: #FFB800;
    height: 40px;
    width: 50px;
    margin-left: 500px;
}

.main{
    margin-top: 120px;
    height: 100%;
    width: 100%;
}


.text-content .text1,
.text-content .text2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.separator{
    border: 1px solid #FFA500;
    width: 100px;
    margin: 0 auto;
}

.box1{
    height: 100%;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}


.left{
    padding: 10px;
    width: max-content;
    width: 49%;
}
.right{
    padding: 10px;
    width: max-content;
    width: 49%;
}
.left .text h1{
    text-align: center;
}
.right .text h1{
    text-align: center;
}

.left .text{
    margin-top: 180px;
    height: 30% ;
}
.left .text p{
    margin-top: 50px;
    font-size: 20px;
    width: 55%;
    margin-left: 165px;
}

.right .text{
    margin-top: 180px;
    height: 30% ;
}
.right .text p{
    margin-top: 50px;
    font-size: 20px;
    width: 55%;
    margin-left: 165px;
}

.box2{
    margin-top: 150px;
}

.head{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
